<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h3>
        Prestamo Vehiculo
      </h3>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="cuato">
        <p><span class="cText">$18,537.06</span> <br/>cuota mensual</p>
      </div>
    </ion-row>
    <app-loan-form></app-loan-form>
    <app-additional-costs></app-additional-costs>
    <app-button-group></app-button-group>
  </ion-grid>
  
</ion-content>