<ion-row class="ion-justify-content-center">
  <div class="card">
    <h3>Tarjeta de Credito Visa Gold</h3>
    <img [src]="getImagePath('images/tdc_visa_gold.png')" alt="Mi Imagen">
  </div>
  <div class="costoC">
    <div class="costoCol">
      <div class="iconS">$</div>
      <div>
        <p>Costo Emision<br/><span>RD$5,000.00</span></p>
      </div>
    </div>

    <div class="costoCol">
      <div class="iconS">$</div>
      <div>
        <p>Plastico Adicional<br/><span>RD$5,000.00</span></p>
      </div>
    </div>
  </div>
</ion-row>
