ul{
    padding-left: 15px;
    width: 100%;
}
ul li{
    margin-bottom: 15px;
}

ul li span{
    position: absolute;
    left: 220px;
}
.gContent{
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}