<ion-row class="container">
  <ion-grid>
    <div class="ion-text-center">
      <h3>Productos Relacionados</h3>
    </div>
    <ion-row>
      <ion-col>
        <img [src]="getImagePath('images/visa-classic-400x225.png')" alt="Mi Imagen">
        <p>Visa Clasica</p>
      </ion-col>
      <ion-col>
        <img [src]="getImagePath('images/tarjeta-de-credito-Platino.png')" alt="Mi Imagen">
        <p>Visa Platinum</p>
      </ion-col>
      <ion-col>
        <img [src]="getImagePath('images/tarjetas-plásticos-_infinite.png')" alt="Mi Imagen">
        <p>Visa Infinite</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-row>