ion-col{
    border: 1.5px solid #edf1f3;
    border-radius: 7px;
    text-align: center;
    padding-top: 15px;
    max-width: 400px;
}
ion-row{gap: 10px;}
img{width: 70%;}
p{margin: 5px 0px;}
.container {
    margin-bottom: 10px;
}