<ion-header collapse="fade">
  <ion-toolbar>
    <div class="cIcons">
      <img (click)="goHome()" [src]="getImagePath('icons/arrow_left.svg')" alt="Mi Imagen" class="bImg">
      <img [src]="getImagePath('images/smart_banking.png')" alt="Mi Imagen" class="imgIcon">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <app-card></app-card>
    <app-cards-info></app-cards-info>
    <app-card-collection></app-card-collection>
    <app-button-group></app-button-group>
  </ion-grid>
</ion-content>
