<ion-row class="ion-justify-content-center">
  <form>
    <div class="rangeC ion-text-start">
      <label>Precio Vehiculo</label>
      <ion-label>RD$1,200,000.00</ion-label>
      <ion-range aria-label="Range with ionChange" [value]="80"></ion-range>
    </div>
    <div class="rangeC ion-text-start">
      <label>Precio Vehiculo</label>
      <ion-label>RD$1,200,000.00</ion-label>
      <ion-range aria-label="Range with ionChange" [value]="25"></ion-range>
    </div>
    <div class="rangeC ion-text-start">
      <label>Precio Vehiculo</label>
      <ion-label>RD$1,200,000.00</ion-label>
      <ion-range aria-label="Range with ionChange" [value]="25"></ion-range>
    </div>
  
    <div class="cInfo ion-text-center">
      <div>
        <p>plazo<br/> <span>5 años</span></p>
      </div>
      <div>
        <p>Taza de Interes<br/> <span>14.95</span></p>
      </div>
    </div>
  </form>
</ion-row>