<ion-row class="ion-justify-content-center">
  <div class="horizontal-scroll">
    <div class="scroll-content">
  
      <div class="card">
        <ion-card-header>
          <h4>Beneficios</h4>
        </ion-card-header>
      
        <ion-card-content>
          <ul>
            <li>80% del límite disponible para retiro en efectivo.</li>
            <li>Programa de doble acumulación Puntos.</li>
            <li>Plan de financiamiento.</li>
            <li>Seguros opcionales.</li>
            <li>Cuenta Protegida.</li>
            <li>Seguro de Accidentes de Viaje.</li>
          </ul>
        </ion-card-content>
      </div>
  
      <div class="card">
        <ion-card-header>
          <h4>Requicitos</h4>
        </ion-card-header>
      
        <ion-card-content>
          <ul>
            <li>Elemento 1</li>
            <li>Elemento 2</li>
            <li>Elemento 3</li>
            <li>Elemento 4</li>
            <li>Elemento 1</li>
            <li>Elemento 2</li>
          </ul>
        </ion-card-content>
      </div>  
  
    </div>
  </div>
</ion-row>