<ion-row class="ion-justify-content-center">
  <div class="horizontal-scroll">
    <div class="scroll-content">
  
      <div class="card">
        <ion-card-header>
          <h4>Beneficios</h4>
        </ion-card-header>
      
        <ion-card-content>
          <ul>
            <li *ngFor="let cardData of cardData.beneficios">{{cardData}}</li>
          </ul>
        </ion-card-content>
      </div>
  
      <div class="card">
        <ion-card-header>
          <h4>Requicitos</h4>
        </ion-card-header>
      
        <ion-card-content>
          <ul>
            <li *ngFor="let cardData of cardData.requicitos">{{cardData}}</li>
          </ul>
        </ion-card-content>
      </div>  
  
    </div>
  </div>
</ion-row>