<ion-header collapse="fade">
  <ion-toolbar>
    <div class="cIcons">
      <img [src]="getImagePath('icons/arrow_left.svg')" alt="Mi Imagen" class="bImg">
      <img [src]="getImagePath('images/smart_banking.png')" alt="Mi Imagen" class="imgIcon">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <h5>Seleccione el Producto de Interes</h5>
  </ion-row>

  <div class="btnGoup">

    <div class="test">
      <div class="icons">
        <img [src]="getImagePath('icons/cuenta_ahorro.svg')" alt="Mi Imagen" class="imgIconBtn">
      </div>
      <div class="vertical-hr"></div>
      <div class="infoBtn">
        <h5>Cuentas de Ahorro</h5>
        <img [src]="getImagePath('icons/arrow_right.svg')" alt="Mi Imagen" class="bImg">
      </div>
    </div>
  
    <!-- Cuenta Corriente -->
    <div class="test" (click)="goForm()">
      <div class="icons">
        <img [src]="getImagePath('icons/cuenta_corriente.svg')" alt="Mi Imagen" class="imgIconBtn">
      </div>
      <div class="vertical-hr"></div>
      <div class="infoBtn">
        <h5>Cuenta Corriente</h5>
        <img [src]="getImagePath('icons/arrow_right.svg')" alt="Mi Imagen" class="bImg">
      </div>
    </div>

    <!-- tarjeta de credito -->
    <div class="test" (click)="goToCreditCards()">
      <div class="icons">
        <img [src]="getImagePath('icons/tarjeta_credito.svg')" alt="Mi Imagen" class="imgIconBtn">
      </div>
      <div class="vertical-hr"></div>
      <div class="infoBtn">
        <h5>Tarjetas de Credito</h5>
        <img [src]="getImagePath('icons/arrow_right.svg')" alt="Mi Imagen" class="bImg">
      </div>
    </div>
  
    <!-- prestamos -->
    <div class="test" (click)="goToBankLoans()">
      <div class="icons">
        <img [src]="getImagePath('icons/prestamo.svg')" alt="Mi Imagen" class="imgIconBtn">
      </div>
      <div class="vertical-hr"></div>
      <div class="infoBtn">
        <h5>Prestamos</h5>
        <img [src]="getImagePath('icons/arrow_right.svg')" alt="Mi Imagen" class="bImg">
      </div>
    </div>

    <!-- certificados -->
    <div class="test">
      <div class="icons">
        <img [src]="getImagePath('icons/certificado.svg')" alt="Mi Imagen" class="imgIconBtn">
      </div>
      <div class="vertical-hr"></div>
      <div class="infoBtn">
        <h5>Certificados</h5>
        <img [src]="getImagePath('icons/arrow_right.svg')" alt="Mi Imagen" class="bImg">
      </div>
    </div>

    <!-- solicitudes -->
    <div class="test">
      <div class="icons">
        <img [src]="getImagePath('icons/mis_solicitudes.svg')" alt="Mi Imagen" class="imgIconBtn">
      </div>
      <div class="vertical-hr"></div>
      <div class="infoBtn">
        <h5>Mis Solicitudes</h5>
        <img [src]="getImagePath('icons/arrow_right.svg')" alt="Mi Imagen" class="bImg">
      </div>
    </div>
  </div>
</ion-content>
